<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Facts From The Web</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars facts from the Web!!!</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrap MARS!</a></p>
    </div>

    <!-- Phone Listings -->
    <div class="row" id="mars_article">
      <div class="col-md-12">
        <h4 class="heading">{{mars.latest_news}}</h4>
        <small>{{mars.teaser}}</small>
      </div>
    </div>
    <div class="row" id="featured_image">
      <div class="col-md-8">
        <p>Featured Image</p>
        <img src="{{ mars.featured_image }}">
      </div>
      <div class="col-md-4">
        Mars Facts
        {{ mars.mars_facts|safe }}
      </div>
    </div>
    <div class="row" id="mars_hemispheres">
      
    </div>
  </div>
</body>

</html>